<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

<!--    전체 게시물 조회-->
<!--    <select id="selectList" resultType="boardDto">-->
<!--        select * from board order by bno desc-->
<!--    </select>-->

    <select id="selectList" resultType="boardDto">
        <![CDATA[
        SELECT bno, title, content, writer, cdate, view_cnt
        FROM (
                 SELECT rownum AS rn, bno, title, content, writer, cdate, view_cnt
                 FROM (
                          SELECT bno, title, content, writer, cdate, view_cnt
                          FROM board
                          ORDER BY bno desc
                      )
                 WHERE rownum <= #{page} * #{pageSize}
            )
        WHERE rn > (#{page} - 1) * #{pageSize}
        ]]>

    </select>




<!--    게시물 상세 조회-->
    <select id="selectOne" resultType="boardDto">
        select * from board where bno = #{bno}
    </select>
<!--    게시물 단일 삭제-->
    <delete id="deleteById">
        delete from board where bno = #{bno}
    </delete>

<!--    게시물 작성 -->
    <insert id ="writeBoard">
        insert into board(bno, title, content, writer)
        values(board_seq.nextval, #{title}, #{content}, #{writer})
    </insert>

    <!-- 조회수 증가 -->
    <update id="updateViewCnt">
        update board set view_cnt = view_cnt + 1 where bno = #{bno}
    </update>

    <!-- 게시물 개수 조회 -->
    <select id ="getTotal" resultType="int">
        SELECT COUNT(*) FROM board
    </select>
</mapper>