*{
    box-sizing: border-box;
}

form{
    width:360px;
}

.container{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.email_input{
    display: flex;

}

.email_title{
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #2F3438;
    word-break: keep-all;
    line-height: 20px;
    margin-top: 10px;
}

.form-control{
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding: 0 15px;
}

.form_control_empty{
    font-size: 15px;
    width: 180%;
    height: 40px;
    padding: 0 15px;
}

.email_button{
    margin-bottom: 30px;
    padding-top: 2px;
}

.email_submit{
    margin-top: 10px;
    width: 125%;
    height: 45px;
    padding: 0px;
    color: rgb(194,200,204);
    background:rgb(247, 248, 250);
    border-color: rgb(218, 220, 224);
    font-weight: 900;
    font-size: 20px;
}

/* 아이디 입력 */
.id_title{
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #2F3438;
    word-break: keep-all;
    line-height: 20px;
}

.id_comment{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #828C94;
    letter-spacing: -0.3px;
}

.id_input{
    width: 125%;
    margin: 0;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    font-size: 15px;
    line-height: 21px;
    padding: 8px 15px 9px;
}




/* 비밀번호 입력 */
.password_title{
    display: block;
    margin-bottom: 12px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #2F3438;
    word-break: keep-all;
    line-height: 20px;
}

.password_comment{
    margin-bottom: 10px;
    width:120%;
    font-size: 14px;
    line-height: 18px;
    color: #828C94;
    letter-spacing: -0.3px;
}

.password_input{
    width: 125%;
    margin: 0;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    font-size: 15px;
    line-height: 21px;
    padding: 8px 15px 9px;
}



/* 비밀번호 확인 입력 */
.password_ck_title{
    display: block;
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #2F3438;
    word-break: keep-all;
    line-height: 20px;
}

.password_ck_input{
    width: 125%;
    margin: 0;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    font-size: 15px;
    line-height: 21px;
    padding: 8px 15px 9px;
}

/* 이름 입력 */
.name_title{
    display: block;
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #2F3438;
    word-break: keep-all;
    line-height: 20px;
}

.name_comment{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #828C94;
    letter-spacing: -0.3px;
}

.name_input{
    width: 125%;
    margin: 0;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    font-size: 15px;
    line-height: 21px;
    padding: 8px 15px 9px;
}

/* 별명 입력 */
.nickname_title{
    display: block;
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #2F3438;
    word-break: keep-all;
    line-height: 20px;
}

.nickname_comment{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #828C94;
    letter-spacing: -0.3px;
}

.nickname_input{
    width: 125%;
    margin: 0;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    font-size: 15px;
    line-height: 21px;
    padding: 8px 15px 9px;
}

input::placeholder{
    color: rgb(194,200,204);
}

.join_submit{
    font-size: 17px;
    line-height: 26px;
    padding: 11px 10px;
    margin-top: 20px;
    color: #fff;
    background-color: #35c5f0;
    width: 125%;
}
.final_id_ck{
    display:none;
    font-size: 12px;
    width:110%;
    color:red;
}

.final_pw_ck{
    display:none;
    font-size: 12px;
    width:110%;
    color:red;
}

.essential_pw_ck{
    display:none;
    font-size: 12px;
    width:110%;
    color:red;

}



.id_input_re_1{
    display:none;
}
.id_input_re_2{
    display:none;
}


.final_pwck_ck{
    display:none;
}




.pwck_input_re_1{
    display:none;
    font-size: 12px;
    width:110%;
    color:green;
}

.pwck_input_re_2{
    display:none;
    font-size: 12px;
    width:110%;
    color:red;

}

.nickname_input_re_1{
    display:none;
    font-size: 12px;
    width:110%;
    color:red;

}

.final_nickname_ck{
    display:none;
    font-size: 12px;
    width:110%;
    color:red;
}



.final_email_ck{
    display:none;
    font-size: 12px;
    width:110%;
    color:red;

}


.open_expand{
    display: none;
    overflow: hidden;
    margin-bottom: 20px;
    width: 125%;
}

.open_expand_container{

    margin: 0px -15px 20px;
    padding: 20px 16px;
    min-height: 143px;
    background: rgb(247, 248, 250);
}

.comment{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 12px;
}

.open_expand_wrapper{
    border: 1px solid rgb(219,219,219);
    min-height: 45px;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.open_expand_main{
    display: flex;
    align-items: center;
    height: 45px;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.email_code{
    border: none;
    height: 30px;
    font-size: 15px;
    line-height: 15px;
    flex: 1 0 0px;
    width: 0px;
}

.email_code_button{
    white-space: pre;
    height: 31px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 10px;
    background-color: #a3e4f8;
    border-color: #a3e4f8;
    color: #e5f9ff;
}

#email_check_input_box_warn{
    font-size:12px;
    width:110%;
}
